/* Overall Page Elements */
* {
    margin: 10;
    padding: 0;
    width: 725;
}
/* HTML Page Elements */
html {
    background-color: lightsteelblue;
}
/* Heading Elements */
h1 {
    padding: 10px;
}
h2 {
    padding: 10px;
}
h3 {
    padding: 10px;
}
/* Paragraph Elements */
p {
    padding-left: 5px;;
    padding-right: 5px;
}
/* List Elements */
/* Image Elements */
#logo {
    border: 7px solid blue;
    border-radius: 50%;
}

#general {
    border-radius: 20%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}